.add-button-wrapper{
  width: 100%;
  display: flex;
  margin: 40px 0px;
  justify-content: center;
}
.list-item-wrapper{
  width: 100%;
  display: flex;
  align-items: center;
}
.list-item-icon-wrapper{
  width: 120px;
}
.list-item-text-wrapper{
  width: calc(100% - 120px);
}
.loader{
  width: 150px;
  height:150px;
  margin-top: 40px;
}
.loader-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
}